@font-face {
	font-family: Stolzl-Regular;
	src: url(../fonts/Stolzl-Regular.ttf);
}

*, *::before, *::after {
	box-sizing: border-box;
	outline: none;
	line-height: 1;
}

a, a:hover {
	text-decoration: none;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
}

/* Rate */

.rate {
	background-color: #0A1927;
}


.rate__row {
	display: flex;
	align-content: center;
	justify-content: space-between;
}

.rate__item {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 25%;
	padding: 20px 30px;
	font-family: Stolzl-Regular;
	transition: 0.3s background;
}

.rate__item:hover {
	background-color: #122D44;
}

.rate__item::before {
	content: "";
	position: absolute;
	top: 50%;
	width: 1px;
	height: calc(100% - 40px);
	background-color: rgba(255, 255, 255, 0.2);
	transform: translateY(-50%);
	transition: 0.3s background;
	z-index: 1;
}

.rate__item::before {
	left: -0.5px;
}

.rate__item:last-child::after {
	content: "";
	position: absolute;
	top: 50%;
	right: -0.5px;
	width: 1px;
	height: calc(100% - 40px);
	background-color: rgba(255, 255, 255, 0.2);
	transform: translateY(-50%);
	transition: 0.3s background;
	z-index: 1;
}

.rate__item:hover::before,
.rate__item:hover::after,
.rate__item:hover + .rate__item::before {
	background-color: transparent;
}

.rate__line {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.rate__line:not(:last-child) {
	margin-bottom: 14px;
}

.rate__name {
	display: flex;
	align-items: center;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: -0.32px;
	color: #FFFFFF;
}

.rate__name img {
	width: 24px;
	margin-right: 10px;
}

.rate__dynamic {
	display: flex;
	align-items: center;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: -0.32px;
}

.rate__dynamic svg {
	margin-right: 4px;
}

.rate__dynamic-up {
	color: #06C957;
}

.rate__dynamic-down {
	color: #FF3700;
}

.rate__dynamic-down svg {
	transform: rotate(180deg);
}

.rate__ruble {
	font-size: 20px;
	line-height: 20px;
	letter-spacing: -0.32px;
	color: #FFFFFF;
	margin-bottom: 4px;
}

.rate__dollar {
	font-size: 12px;
	line-height: 12px;
	letter-spacing: -0.32px;
	color: #FFFFFF;
	opacity: 0.5;
}

/* Services */

.services {
	padding: 83px 0 60px;
}

.services__row {
	display: flex;
	justify-content: space-between;
}

.services__item {
	width: calc((100% - 90px) / 4);
	display: flex;
	align-items: center;
	padding: 20px 20px 20px 30px;
	border-radius: 20px;
	background-color: #FFFFFF;
	box-shadow: 0 4px 30px 0 rgba(26, 43, 88, 0.12);
	transition: 0.3s box-shadow, 0.3s background;
}

.services__item:hover {
	background-color: rgba(0, 0, 0, 0.05);
	box-shadow: none;
}

.services__item img {
	flex-shrink: 0;
	width: 40px;
	margin-right: 20px;
}

.services__title {
	font-family: Stolzl-Regular;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: -0.32px;
	margin-right: 20px;
	color: #0A141E;
}

.services__arrow {
	flex-shrink: 0;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #FFFFFF;
	background-image: url(../img/service-arrow.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat	;
	transition: 0.3s background;
	margin-left: auto;
}

.services__item:hover .services__arrow {
	background-image: url(../img/service-arrow-hover.png);
}

@media screen and (max-width: 1440px) {
	.container {
		padding: 0 30px;
	}
	.services__item {
		width: calc((100% - 60px) / 4);
		padding: 15px;
	}	
}

@media screen and (max-width: 1160px) {
	.container {
		max-width: 768px;
	}
	.rate__row, 
	.services__row {
		flex-wrap: wrap;
	}
	.rate__item,
	.services__item {
		width: 50%;
	}
	.rate__row {
		padding: 20px 0;
	}
	.rate__item {
		padding: 20px 30px;
	}
	.rate__item:nth-child(n)::before {
		width: 100%;
		height: 0.5px;
		transform: none;
		top: auto;
		left: auto;
		bottom: auto;
		right: auto;
	}
	.rate__item:nth-child(n)::after {
		content: "";
		position: absolute;
		width: 0.5px;
		height: 100%;
		transform: none;
		background-color: rgba(255, 255, 255, 0.2);
		z-index: 1;
	}
	.rate__item:nth-child(1)::before {
		bottom: 0;
		left: 0;
	}
	.rate__item:nth-child(1)::after {
		top: 0;
		right: 0;
	}
	.rate__item:nth-child(2)::before {
		bottom: 0;
		left: 0;
	}
	.rate__item:nth-child(2)::after {
		top: 0;
		left: 0;
	}
	.rate__item:nth-child(3)::before {
		top: 0;
		left: 0;
	}
	.rate__item:nth-child(3)::after {
		top: 0;
		right: 0;
	}
	.rate__item:nth-child(4)::before {
		top: 0;
		left: 0;
	}
	.rate__item:nth-child(4)::after {
		top: 0;
		left: 0;
	}
	.rate__item:hover::before,
	.rate__item:hover::after,
	.rate__item:hover + .rate__item::before {
		background-color: rgba(255, 255, 255, 0.2);
	}
	.services {
		padding:40px 0 80px;
	}
	.services__row {
		border-radius: 20px;
		box-shadow: 0 4px 30px 0 rgba(26, 43, 88, 0.12);
	}
	.services__item {
		position: relative;
		padding: 16px 20px;
		box-shadow: none;
	}
	.services__item::before,
	.services__item::after {
		content: "";
		position: absolute;
		background-color: #0A141E;
		opacity: 0.1;
		z-index: 1;
	}
	.services__item:nth-child(1) {
		border-radius: 20px 0 0 0;
	}
	.services__item:nth-child(1)::before {
		width: 100%;
		height: 0.5px;
		bottom: 0;
		left: 0;
	}
	.services__item:nth-child(1)::after {
		width: 0.5px;
		height: 100%;
		top: 0;
		right: 0;
	} 
	.services__item:nth-child(2) {
		border-radius: 0 20px 0 0;
	}
	.services__item:nth-child(2)::before {
		width: 100%;
		height: 0.5px;
		bottom: 0;
		left: 0;
	}
	.services__item:nth-child(2)::after {
		width: 0.5px;
		height: 100%;
		top: 0;
		left: 0;
	} 
	.services__item:nth-child(3) {
		border-radius: 0 0 0 20px;
	}
	.services__item:nth-child(3)::before {
		width: 100%;
		height: 0.5px;
		top: 0;
		left: 0;
	}
	.services__item:nth-child(3)::after {
		width: 0.5px;
		height: 100%;
		top: 0;
		right: 0;
	} 
	.services__item:nth-child(4) {
		border-radius: 0 0 20px 0;
	}
	.services__item:nth-child(4)::before {
		width: 100%;
		height: 0.5px;
		top: 0;
		left: 0;
	}
	.services__item:nth-child(4)::after {
		width: 0.5px;
		height: 100%;
		top: 0;
		left: 0;
	} 
}

@media screen and (max-width: 620px) {
	.container {
		padding: 0 18px;
	}
	.rate__item, 
	.services__item {
		width: 100%;
	}
	.rate__item {
		padding: 20px 12px 30px;
	}
	.rate__item:nth-child(n)::after {
		display: none;
	}
	.rate__item:nth-child(n):not(:last-child)::before {
		height: 1px;
		top: auto;
		bottom: 0;
	}
	.rate__item:last-child::before {
		display: none;
	}
	.services {
		padding-bottom: 60px;
	}
	.services__item:nth-child(n):not(:first-child):not(:last-child) {
		border-radius: none;
	}
	.services__item:first-child {
		border-radius: 20px 20px 0 0;
	}
	.services__item:last-child {
		border-radius: 0 0 20px 20px;
	}
	.services__item::after {
		display: none;
	}
	.services__item:not(:last-child)::before {
		height: 1px;
		top: auto;
		bottom: -0.5px;
	}
	.services__item:last-child::before {
		display: none;
	}
}